:root {
    --beige: #F4E0B9;
    --faded-beige: #F4E0B9B3;
}

::selection {
    background-color: var(--beige);
    color: black;
}

.btn:not(.btn-danger) {
    background-color: var(--beige);
    border: none;
}

.btn:not(.btn-danger):hover {
    background-color: var(--beige);
    filter: brightness(95%);
    -webkit-filter: brightness(95%);
}

.btn-check:checked+.btn:not(.btn-danger),
.btn:not(.btn-danger).active,
.btn:not(.btn-danger).show,
.btn:not(.btn-danger):first-child:active,
:not(.btn-check)+.btn:not(.btn-danger):active {
    background-color: var(--beige);
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem var(--faded-beige);
    border-color: var(--beige);
}

input.has-error {
    border: 3px solid red;
}